* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #abb6c8;
}

.App {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
