.cards-container {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  padding: 10px;
  background: #f7f0c6;
  border-radius: 8px;
  flex: 0 1 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.card:hover {
  background: #dadada;
  box-shadow: 0 0 10px gray;
}

.card img {
  width: 100px;
  height: auto;
  pointer-events: none;
  transition: all 0.4s ease-in;
}

.card p {
  font-family: "Open Sans", sans-serif;
  color: #5d7599;
  pointer-events: none;
}

@media (max-width: 900px) {
  .card img {
    width: 100px;
    height: 75px;
    object-fit: cover;
  }

  .card p {
    display: none;
  }
}

@media (max-width: 640px) {
  .card img {
    width: 80px;
    height: 60px;
    object-fit: cover;
  }
}
