.cards-container {
  flex: 1 1 100%;
  padding: 16px 32px;
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card {
  background: #f7f0c6;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  /*Grid*/
  display: grid;
  gap: 10px;
}

.card:hover {
  background: #dadada;
  box-shadow: 0 0 10px gray;
}

.card img {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
}

.card p {
  display: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #5d7599;
  pointer-events: none;
}

@media only screen and (min-width: 450px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 750px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .card p {
    display: block;
  }
}

@media only screen and (min-width: 1410px) {
  .cards-container {
    grid-template-columns: repeat(10, 1fr);
  }
}
