footer {
  padding: 16px 32px;
  text-align: center;
}

footer p,
footer a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

footer p {
  color: #dadada;
}

footer a {
  color: #5d7599;
  text-decoration: none;
}

footer a:hover {
  color: #3f5679;
}

@media only screen and (max-width: 400px) {
  footer p,
  footer a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  footer p,
  footer a {
    font-size: 10px;
  }
}
