.GameOver {
  background-color: #5d7599;
  width: 100vw;
  height: 50vh;
  padding: 16px 32px;
  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.GameOver div {
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.GameOver p,
.GameOver button {
  color: #f7f0c6;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease-in;
}

.GameOver button {
  background: none;
  padding: 8px;
  border: 2px solid #f7f0c6;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.GameOver button:hover {
  background: #f7f0c6;
  color: #5d7599;
}

@media only screen and (max-width: 400px) {
  .GameOver p,
  .GameOver button {
    font-size: 25px;
  }
}

@media only screen and (max-width: 300px) {
  .GameOver p,
  .GameOver button {
    font-size: 20px;
  }
}
