header {
  background: #5d7599;
  /*height: 80px;*/
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1,
.score p {
  color: #f7f0c6;
  font-family: "Open Sans", sans-serif;
}

.score {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 530px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  header h1 {
    font-size: 20px;
  }

  .score {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .score p {
    font-size: 14px;
  }
}
