.instructions {
  padding: 16px 32px;
}

.instructions p {
  color: #5d7599;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .instructions p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .instructions p {
    font-size: 10px;
  }
}
